@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

html {
  scroll-behavior: smooth;
}
.blinking-cursor {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1e3a8a; /* dark blue or customize */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.glitch {
  position: relative;
  color: #00ff88;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.glitch::before {
  animation: glitchTop 1s infinite linear alternate-reverse;
  color: #ff00ff;
  top: -2px;
}

.glitch::after {
  animation: glitchBottom 1.5s infinite linear alternate-reverse;
  color: #00ffff;
  top: 2px;
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 900px, 0, 0);
  }
  20% {
    clip: rect(0, 900px, 10px, 0);
  }
  40% {
    clip: rect(5px, 900px, 15px, 0);
  }
  60% {
    clip: rect(10px, 900px, 20px, 0);
  }
  80% {
    clip: rect(0, 900px, 5px, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 900px, 0, 0);
  }
  20% {
    clip: rect(10px, 900px, 20px, 0);
  }
  40% {
    clip: rect(15px, 900px, 25px, 0);
  }
  60% {
    clip: rect(5px, 900px, 15px, 0);
  }
  80% {
    clip: rect(0, 900px, 10px, 0);
  }
  100% {
    clip: rect(0, 900px, 0, 0);
  }
}
